body {
    height: 100%;
    backdrop-filter: blur(0.2vw);
    background: url("https://c0.wallpaperflare.com/preview/677/517/80/city-urban-slum-favela.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}