@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&family=Sacramento&display=swap');
* {
    font-family: 'Reem Kufi', sans-serif;
}

body {
    height: 100%;
    background: url("https://c0.wallpaperflare.com/preview/677/517/80/city-urban-slum-favela.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
#figure-icon {
    filter: invert(1) brightness(65%);
}
.bg-warning-dark {
    background-color:rgb(107, 91, 0) ;
}
.text-justify{
    text-align: justify;
    text-justify: inter-word;
}
.justify-items-strech {
    justify-self: stretch;
}
i.bi {
    margin-right:8px ;
}
