@charset "utf-8";

body {
    height: 100%;
    background: url("https://c0.wallpaperflare.com/preview/677/517/80/city-urban-slum-favela.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
figure {
    filter: invert(1) brightness(65%);
}
.justify-text{
    text-align: justify;
    text-justify: inter-word;
}
.justify-items-strech {

    justify-self: stretch;
}
span.bi-moon-stars-fill {
    animation: Dark-Icon-Change 12s infinite 1s ease-in-out;
}