@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Moirai+One&family=Reem+Kufi:wght@400;500;600;700&family=Rubik+Puddles&family=Sacramento&display=swap');

:root {
  --color-red: #ff5d58;
  --color-orange: #f59a50;
  --color-yellow-orange: #f0b03f;
  --color-yellow: #ffed4f;
  --color-green-yellow: #c2dd2b;
  --color-green: #a1fc85;
  --color-white: #efefef;
  --color-gray: #4f4f4f;
  --color-grey: #313131;
  --color-black: #202020;
  --paragraph-size: 18px;
}

@keyframes background-moving-effect {
  0% {
    background-position: left;
  }

  50% {
    background-position: center;
  }

  100% {
    background-position: right;
  }
}

/*Estilo da Scrollbar*/
::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-track {
  width: 1px;
  padding: 1px;
  background-color: var(--color-black);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px var(--color-white);
  background: var(--color-black);
  width: 1px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Reem Kufi', sans-serif;
}

*::selection {
  background-color: rgb(0, 119, 255);
  color: #FFF;
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
}

/*Página que sobe toda vez que se abre as páginas Home, Sobre nós e contatos*/
#Moving-page {
  position: absolute;
  background: linear-gradient(0deg,
      var(--color-red) 0%,
      var(--color-orange) 20%,
      var(--color-yellow-orange) 40%,
      var(--color-yellow) 60%,
      var(--color-green-yellow) 80%,
      var(--color-green) 100%);
  height: 120vh;
  width: 100%;
  z-index: 10;
  border-radius: 0 0 10% 10%;
  box-shadow: 0px 10px 200px #000;
}

#Moving-page>div {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  place-items: center center;
  place-content: center center;
  width: 100%;
  height: 100vh;
  z-index: 10;

}

#Moving-page img {
  width: 20vh;
}

#Moving-page h1 {
  font-size: 10vh;
}

/*Cabeçalho*/
header {
  background: linear-gradient(40deg,
      var(--color-red) 0%,
      var(--color-orange) 25%,
      var(--color-yellow-orange) 50%,
      var(--color-yellow) 75%,
      var(--color-green) 100%);
  background-size: 150% 100%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  animation: background-moving-effect 20s ease-in-out infinite alternate;
  padding: 35px;
  font-size: 20px;
  box-shadow: inset 0px 0px 30px #000;
  transition: all 0.5s;
}

header:hover {
  padding: 45px;
  font-size: 30px;
}

header>a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  word-spacing: 10px;
}

.header-title {
  font-family: 'Sacramento', cursive;
  font-style: normal;
  margin-left: 10px;
}

/*Elementos Nav e Botão Tema Escuro e claro*/
nav {
  padding: 10px;
  background: #000;
}

.darkModeElement {
  flex: 1;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 5px;
  text-align: center;
}

input.darkModeElement {
  appearance: none;
  display: none;
}

label.darkModeElement {
  display: block;
  padding: 5px;
  margin-inline: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--color-gray);
  font-size: 18px;
  color: #FFF;
  display: block;
  transition: all 0.5s;
}

label:hover.darkModeElement {
  background: var(--color-grey);
  border: 1px solid #FFF;
  font-size: 24px;
}

.nav-flex-container {
  display: flex;
  align-items: center;
}

div.nav-flex-item {
  margin-bottom: 3px;
}

.nav-flex-item {
  flex: 1;
  list-style: none;
  text-align: center;
}

.nav-flex-item>a {
  display: block;
  padding: 5px;
  margin-inline: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--color-gray);
  font-size: 18px;
  color: #FFF;
  transition: all 0.5s;
}

.nav-flex-item>a:hover {
  background: var(--color-grey);
  border: 1px solid #FFF;
  font-size: 22px;
}

.nav-icon {
  margin-inline: 4px;
}

/*seção main e definição de margin e texto*/
.main-title {
  text-align: center;
  letter-spacing: 1px;
  padding: 5px;
  vertical-align: middle;
  color: var(--color-black);
  z-index: 1;
}

article {
  text-align: justify;
  text-justify: inter-word;
}

.main-margin {
  margin: 5px 250px 20px;
}

.article-text {
  letter-spacing: 1px;
  color: var(--color-black);
  font-size: var(--paragraph-size);
}

/*Seção com textos e imagens na index.html*/
.section-flex {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 5px 250px 20px;
}

.section-flex-child {
  flex: 1;
  margin: 10px;
  color: var(--color-black);
  font-size: var(--paragraph-size)
}

/*Seção de Fundo com parallax predominantemente na index.html*/
.parallax_bg {
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat-y;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Foto-container {
  display: flex;
  flex-direction: column;
}

#parallax_bg_1 {
  background-image: url("../Designs/Fotos/Parallax1.jpeg");
}

#parallax_bg_2 {
  background-image: url("../Designs/Fotos/PARQUEDOGATO.jpg");
}

#parallax_bg_3 {
  background-image: url("../Designs/Fotos/Jardim\ Joana\ Dark.jpg");
}

.innerLabel {
  flex: 1;
  text-align: center;
  color: #FFF;
  font-size: 30px;
  padding: 20px;
  backdrop-filter: brightness(30%);
}

/*Layout de redirecionamento para o formulário, visível apenas em celulares*/
.button-flex-container {
  display: none;
}

.button-flex-container-child {
  flex: 1;
  text-decoration: none;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 4px;
  border: 2px solid var(--color-black);
  padding-block: 10px;
  border-radius: 5px;
  flex-basis: 50%;
  text-align: center;
  align-self: center;
  transition: all 0.2s;
}

.button-flex-container-child:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  border: 2px solid var(--color-black);
  font-size: x-large;
}


/*Seção de contatos com os containers das redes sociais, telefones e emails*/
.contacts-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(4, 300px);
  row-gap: 5px;
  column-gap: 7px;
}

.contact-child {
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  place-items: center center;
  place-content: center center;
}

.contact-child:hover div h1 {
  font-size: 35px;
}

.front-content {
  flex-basis: 100%;
  padding: 4px;
  backdrop-filter: brightness(30%);
  display: flex;
  place-content: center center;
  gap: 3px;
}

.front-content>h1, svg {
  transition: all 0.3s;
  color: #FFF;
  place-self: center center;
  font-size: 24px;
  text-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
}

#section-Instagram {
  background: linear-gradient(0deg, rgba(187, 0, 255, 0.4), rgba(204, 0, 255, 0.4)), url(../Designs/Fotos/FILHOS\ DA\ TERRA\ Reduzido.jpg);
  box-shadow: 0px 0px 10px rgba(187, 0, 255);
  grid-column: 1/3;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
}

#section-Facebook {
  background: linear-gradient(0deg, rgba(1, 48, 255, 0.4), rgba(3, 49, 255, 0.4)), url(../Designs/Fotos/FILHOS\ DA\ TERRA\ Reduzido.jpg);
  box-shadow: 0px 0px 10px rgba(1, 48, 255);
  grid-row: 2/4;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
}

#section-Telefone {
  background: linear-gradient(0deg, rgba(68, 255, 0, 0.4), rgba(0, 255, 0, 0.4)), url(../Designs/Fotos/FILHOS\ DA\ TERRA\ Reduzido.jpg);
  box-shadow: 0px 0px 10px rgba(68, 255, 0);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;

}

#section-Twitter {
  background: linear-gradient(0deg, rgba(39, 241, 255, 0.4), rgba(61, 224, 253, 0.4)), url(../Designs/Fotos/FILHOS\ DA\ TERRA\ Reduzido.jpg);
  box-shadow: 0px 0px 10px rgba(39, 241, 255);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
}

#section-Email {
  background: linear-gradient(0deg, rgba(226, 223, 44, 0.4), rgba(253, 234, 61, 0.4)), url(../Designs/Fotos/FILHOS\ DA\ TERRA\ Reduzido.jpg);
  box-shadow: 0px 0px 10px rgba(226, 223, 44);
  grid-column: 1/3;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
}

/*Redirecionador para o formulário na Sobre.HTML*/
.form-flex-container {
  display: flex;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 2px solid var(--color-black);
  padding-block: 10px;
  border-radius: 5px;
  flex-direction: column;
  text-align: center;

}

.form-flex-container>a:hover {
  transition: all 0.2s;
}

.form-flex-container>a:hover {
  border: 2px solid var(--color-black);
}

/*Classe abaixo está na Sobre.html serve para separar e juntar colunas conforme o tamanho da tela*/
.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-group {
  list-style-position: inside;
}

.list-group>li {
  color: var(--color-black);
  font-size: var(--paragraph-size);
}

/*Seção possuindo as regiões de são paulo e a descrição*/
.Unidade-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
}

.Unidade-child {
  display: flex;
  flex-direction: column;
  flex: 1;
  place-items: center center;
  place-content: center center;
}

.SP-regions {
  flex: 1;
}

#section-norte {
  margin: 0;
}

#section-centro {
  display: flex;
  place-items: center center;
}

/*Seção das regiões*/
.Regions-IMG {
  transition: all 0.2s ease;
  width: 140px;
  height: fit-content;
}

.Regions-IMG:hover {
  cursor: pointer;
  width: 155px;
}

.Regions-IMG>g {
  transition: all 0.2s;
}

.Regions-IMG:hover>g {
  filter: saturate(200%);
}

.Regions-IMG>text {
  text-shadow: none;
  font-weight: 900;
  font-size: 25px;
}

#SVG-norte {
  fill: var(--color-red);
  filter: drop-shadow(0px 0px 10px var(--color-red));
}

#SVG-oeste {
  fill: var(--color-orange);
  filter: drop-shadow(0px 0px 10px var(--color-orange));
}

#SVG-centro {
  fill: var(--color-yellow);
  filter: drop-shadow(0px 0px 10px var(--color-yellow));
}

#SVG-leste {
  fill: var(--color-green-yellow);
  filter: drop-shadow(0px 0px 10px var(--color-green-yellow));
}

#SVG-sul {
  fill: var(--color-green);
  filter: drop-shadow(0px 0px 10px var(--color-green));
}

#description-container {
  flex-basis: 50%;
  background-color: var(--color-orange);
  text-align: center;
  border-block: 3px solid #000;
  border-radius: 5px;
  padding: 15px;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  place-items: center center;
  place-content: center center;
}

#description-container>h3 {
  color: #202020;
  font-size: 30px;
}

#description-container>p {
  color: #202020;
  text-align: justify;
  vertical-align: middle;
}


/*Seção de cards dos dias da semana*/
#card-container {
  display: flex;
  column-gap: 10px;
  row-gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-child {
  flex: 1;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  border-radius: 5px;
  padding: 15px;
}

.card-child>h3, .card-child>p, .card-child>ul li {
  color: var(--color-black);
}

.card-child>h3 {
  text-align: center;
}

.card-child>p {
  text-align: justify;
  text-justify: inter-word;
  word-spacing: 2px;
}

.card-child>ul li {
  list-style-position: inside;
  font-weight: 600;
  margin-bottom: 5px;
}

#Sunday, #Saturday {
  flex-basis: 100%;
}

/*Container Marquee que some conforme o zoom */
#marquee-container-grid {
  display: grid;
  grid-template-rows: repeat(2, 2fr);
  justify-items: center;
  bottom: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 63px;
}

/*Botão para sumir a marquee*/
#hide-btn {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  display: flex;
  width: 80px;
  height: 33px;
  background-color: var(--color-black);
  border-radius: 10px 10px 0 0;
  color: var(--color-white);
  justify-content: center;
  align-content: center;
}

.checkbox-icon::before {
  align-self: center;
  font-size: x-large;
  content: "▲";
  transition: all 0.5s;
}

.checkbox-icon:checked::before {
  transform: rotate(-180deg) translate(0px, 0px);
}

marquee {
  display: flex;
  background-color: var(--color-black);
  color: var(--color-white);
  align-self: center;
  font-size: large;
  padding: 5px;
  word-spacing: 5px;
  text-transform: uppercase;
  align-items: center;
}

marquee>p {
  display: inline-flex;
  align-content: center;
  align-self: center;
}

marquee>a {
  display: inline-block;
  padding-bottom: 6px;
  text-decoration: solid;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  font-size: medium;
  border-radius: 5px;
  padding: 1px;
  transition: all 0.2s;
}

marquee>a:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/*Footer global exceto para o Formulari.html*/
footer {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  word-spacing: 2.5px;
  background: #000;
  align-items: center;
  z-index: 1;
  color: #ffffff;
}

footer>div {
  grid: 1;
  text-align: center;
}

.Footer-Title {
  grid-column: 2;
  grid-row: 1;
  place-self: center;
  place-content: center;
  color: #ffffff;
}

.Contacts-nav {
  grid: 1;
  background: transparent;
  grid-row: 2;
  place-items: center center;
  place-self: center center;
  text-align: center;
  color: #ffffff;
}

footer nav ul li {
  display: inline;
  color: #ffffff;
}

.Info-nav {
  grid-column: 3;
  grid-row: 2;
}

.Info-nav-list>li a {
  display: block;
  color: #efefef;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #efefef;
  font-size: calc(var(--paragraph-size));
  transition: all 0.2s;
}

.Info-nav-list>li a:hover {
  font-size: calc(var(--paragraph-size) + 2px);
}

.Footer-link {
  align-content: center;
  align-self: center;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
}

.Footer-link>svg {
  vertical-align: middle;
  transition: all 0.2s;
  filter: saturate(70%);
}

.Footer-link:hover>svg {
  width: 45px;
  filter: saturate(180%);
}

.copyright-div {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
}

#footer-Instagram {
  fill: var(--color-red);
}

#footer-Facebook {
  fill: var(--color-orange);
}

#footer-Twitter {
  fill: var(--color-yellow);
}

#footer-Email {
  fill: var(--color-green-yellow);
}

#footer-Telefone {
  fill: var(--color-green);
}


@media (min-width: 2000px) {

  .main-margin {
    margin: 5px 600px 10px;
  }

  #card-container {
    justify-items: center;
    flex-wrap: nowrap;
  }

  .card-child {
    font-size: 20px;
  }

  #Sunday {
    flex-basis: 10%;
  }

  #Saturday {
    flex-basis: 10%;
  }

}

@media (min-width: 2600px) {
  .main-margin {
    margin: 5px 900px 10px;
  }
}

@media (max-width:1100px) {
  .Foto-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .Unidade-container {
    flex-direction: column
  }

  #card-container {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width:1000px) {
  .main-margin {
    margin: 5px 200px 10px;
  }

  .section-flex {
    margin: 0;
    margin: 5px 0px 10px;
    flex-direction: column;
  }

  .parallax_bg {
    height: 20%;
    padding-block: 150px;
  }
}

@media (max-width: 900px) {

  header {
    padding: 50px;
    text-align: center;
    font-size: medium;
    flex-direction: column;
  }

  header:hover {
    padding: 52px;
    font-size: large;
  }

  header a>h1 {
    word-spacing: 2px;
  }

  #Moving-page h1 {
    font-size: 5vh;
  }

  header>a {
    display: inline-block;
  }

  a>img {
    width: 50px;
  }

  label.darkModeElement {
    font-size: 15px;
  }

  label:hover.darkModeElement {
    font-size: 20px;
  }

  .nav-flex-container {
    display: block;
  }

  .nav-flex-item {
    display: block;
    padding: 2px;
  }

  .nav-flex-item>a {
    font-size: 15px;
  }

  .nav-flex-item>a:hover {
    font-size: 20px;
  }

  .contact-child:hover div h1 {
    font-size: 30px;
  }

  .main-margin, .section-flex-text {
    margin: 5px 50px 10px;
  }

  .button-flex-container {
    display: flex;
    place-content: center center;
    gap: 5px;
  }

  .list-container {
    flex-direction: column;
  }

  #card-container {
    text-align: center;
  }

  .card-child>p {
    text-align: center;
  }

  #marquee-container-grid {
    display: none;
  }

  .Regions-IMG {
    width: 120px;
  }

  .Regions-IMG:hover {
    cursor: pointer;
    width: 135px;
  }

}

@media (max-width: 430px) {
  header>a svg {
    width: 35px;
    height: 35px;
  }

  header>a {
    font-size: large;
  }

  label.darkModeElement {
    font-size: large;
  }

  label:hover.darkModeElement {
    font-size: x-large;
  }

  .nav-flex-item>a {
    font-size: large;
  }

  .nav-flex-item>a:hover {
    font-size: x-large;
  }

  .main-title>h1 {
    font-size: 20px;
  }

  .button-flex-container {
    flex-wrap: wrap;
  }

  .contacts-container {
    display: flex;
    flex-direction: column;
  }

  .contact-child {
    border-radius: 0px;
  }

  .front-content {
    backdrop-filter: brightness(80%);
    padding-block: 40px;
  }

  .contact-child:hover div h1 {
    font-size: 20px;
  }

  .front-content>h1,
  svg {
    font-size: 12px;
  }

  .front-content>svg {
    filter: drop-shadow(1px 1px 6px #000000) drop-shadow(-1px -1px 6px #000);
    width: 16px;
    width: 16px;
  }

  .main-margin {
    margin: 5px 20px 10px;
  }

  #description-container>p {
    margin-inline: 10px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .Regions-IMG {
    width: 100px;
    height: fit-content;
  }

  .Regions-IMG:hover {
    cursor: pointer;
    width: 110px;
  }

  .Regions-IMG>text {
    font-size: 25px;
  }
}

@media (max-width: 300px) {

  .Regions-IMG {
    width: 70px;
    height: fit-content;
  }

  .Regions-IMG:hover {
    cursor: pointer;
    width: 80px;
  }
}

@media (max-width: 150px) {
  * {
    font-size: 5px;
  }

  header {
    padding: 15px;
    font-size: large;
  }

  header:hover {
    padding: 20px;
    font-size: large;
  }

  label.darkModeElement {
    font-size: 7px;
  }

  label:hover.darkModeElement {
    font-size: 10px;
  }

  .nav-flex-item>a {
    font-size: 5px;
  }

  .nav-flex-item>a:hover {
    font-size: 7px;
  }

  .main-margin {
    margin: 5px 10px 10px;
  }

  .card-container {
    flex-direction: column;
  }

  #description-container>p {
    margin-inline: 0px;
  }

}