@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Moirai+One&family=Reem+Kufi:wght@400;500;600;700&family=Rubik+Puddles&family=Sacramento&display=swap');

:root {
  --color-red: #fb6964;
  --color-orange: #f59a50;
  --color-yellow-orange: #f0b03f;
  --color-yellow: #ffed4f;
  --color-green-yellow: #dadd2b;
  --color-green: #a1fc85;
  --color-white: #efefef;
  --color-gray: #4f4f4f;
  --color-grey: #313131;
  --color-black: #202020;
  --paragraph-size: 18px;
}

@keyframes background-moving-effect {
  0% {
    background-position: left;
  }

  50% {
    background-position: center;
  }

  100% {
    background-position: right;
  }
}

@keyframes rotate-card {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(180deg);
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Reem Kufi', sans-serif;
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
}

::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-track {
  width: 1px;
  padding: 1px;
  background-color: var(--color-black);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px var(--color-white);
  background: var(--color-black);
  width: 1px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray);
}

#Moving-page {
  position: absolute;
  background: linear-gradient(0deg,
      var(--color-red) 0%,
      var(--color-orange) 20%,
      var(--color-yellow-orange) 40%,
      var(--color-yellow) 60%,
      var(--color-green-yellow) 80%,
      var(--color-green) 100%);
  height: 120vh;
  width: 100%;
  z-index: 10;
  border-radius: 0 0 120px 120px;
  box-shadow: 0px 10px 200px #000;
}

#Moving-page>div {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  place-items: center center;
  place-content: center center;
  width: 100%;
  height: 100vh;
  z-index: 10;

}

#Moving-page img {
  width: 20vh;
}

#Moving-page h1 {
  font-size: 10vh;
}

header {
  background: linear-gradient(40deg,
      var(--color-red) 0%,
      var(--color-orange) 25%,
      var(--color-yellow-orange) 50%,
      var(--color-yellow) 75%,
      var(--color-green) 100%);
  background-size: 150% 100%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  animation: background-moving-effect 30s ease-in-out infinite alternate;
  padding: 50px;
  font-size: 20px;
  box-shadow: inset 0px 0px 30px #000;
  transition: all 0.5s;
}

header:hover {
  padding: 52px;
  font-size: 30px;
}

header>a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  word-spacing: 10px;
}

.header-title {
  font-family: 'Rubik Puddles', cursive;
  font-family: 'Sacramento', cursive;
  font-style: normal;
  margin-left: 10px;
}



.darkModeElement {
  flex: 1;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 5px;
  text-align: center;
}

input.darkModeElement {
  appearance: none;
  display: none;
}

label.darkModeElement {
  display: block;
  padding: 5px;
  margin-inline: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--color-gray);
  font-size: 18px;
  color: #FFF;
  display: block;
  transition: all 0.5s;
}

label:hover.darkModeElement {
  background: var(--color-grey);
  border: 1px solid #FFF;
  font-size: 24px;
}

nav {
  padding: 10px;
  background: #000;
}

.nav-flex-container {
  display: flex;
  align-items: center;
}

div.nav-flex-item {
  margin-bottom: 3px;
}

.nav-flex-item {
  flex: 1;
  list-style: none;
  text-align: center;
}

.nav-flex-item>a {
  display: block;
  padding: 5px;
  margin-inline: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--color-gray);
  font-size: 18px;
  color: #FFF;
  transition: all 0.5s;
}

.nav-flex-item>a:hover {
  background: var(--color-grey);
  border: 1px solid var(--color-white);
  font-size: 22px;
}

.contacts-container {
  display: grid;
  margin: 5px 200px 20px;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(4, 300px);
  row-gap: 5px;
  column-gap: 7px;
}

.contact-child {
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  place-items: center center;
  place-content: center center;
}

.contact-child:hover div h1 {
  font-size: 35px;
}

.front-content {
  flex-basis: 100%;
  padding: 4px;
  backdrop-filter: brightness(30%);
  display: flex;
  place-content: center center;
  gap: 3px;
}

.front-content>h1, svg {
  transition: all 0.3s;
  color: #FFF;
  place-self: center center;
  font-size: 24px;
  text-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
}

#div-Instagram {
  background: linear-gradient(0deg, rgba(187, 0, 255, 0.4), rgba(204, 0, 255, 0.4)), url(../Designs/Image/FILHOS\ DA\ TERRA\ Reduzido.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  grid-column: 1/3;
}

#div-Facebook {
  background: linear-gradient(0deg, rgba(1, 48, 255, 0.4), rgba(3, 49, 255, 0.4)), url(../Designs/Image/FILHOS\ DA\ TERRA\ Reduzido.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  grid-row: 2/4;
}

#div-Twitter {
  background: linear-gradient(0deg, rgba(39, 241, 255, 0.4), rgba(61, 224, 253, 0.4)), url(../Designs/Image/JARDIM\ FONTALIS\ Reduzido.jpg);
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
}

#div-Email {
  background: linear-gradient(0deg, rgba(44, 226, 165, 0.4), rgba(61, 253, 189, 0.4)), url(../Designs/Image/JARDIM\ FONTALIS\ Reduzido.jpg);
  background-position: right;
    background-size: cover;
  background-attachment: fixed;
}

#div-Telefone {
  background: linear-gradient(0deg, rgba(68, 255, 0, 0.4), rgba(0, 255, 0, 0.4)), url(../Designs/Image/FILHOS\ DA\ TERRA\ Reduzido.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  grid-column: 1/3;
}

.main-title {
  text-align: center;
  letter-spacing: 1px;
  padding: 5px;
  vertical-align: middle;
  color: var(--color-black);
  z-index: 1;
}

article {
  text-align: justify;
  text-justify: inter-word;

}

article:nth-child(odd) {
  width: 100px;
}

.article-text {
  letter-spacing: 1px;
  color: var(--color-black);
  margin: 5px 200px 20px;
  font-size: var(--paragraph-size);
}
.flip-card-container {
  display: flex;
  justify-content: center;
}
.flip-card {
  padding: 20px;
  border-block: 3px solid var(--color-black);
  border-radius: 5px;
  background-color: var(--color-red);
}
.flip-card-child {
  text-align: center;
  color: #202020;
}
.flip-card-behind {
  padding: 10px;
  border-radius: 5px;
  backdrop-filter:brightness(80%);
}
.flip-card-behind>a {
  color: #202020;
  text-decoration: none;
}
#card-container {
  display: flex;
  margin: 20px 200px;
  column-gap: 5px;
  row-gap: 15px;
  flex-wrap: wrap;
}

.card-child {
  flex: 1;
  border-block: 3px solid #202020;
  border-radius: 5px;
  padding: 4px;
}

.card-child>h3 {
  text-align: center;
  color: #000;
}

.card-child>p {
  color: #000;
  text-align: justify;
  text-justify: inter-word;
}

.card-child>ul li {
  list-style-position: inside;
  color: #000;
}

#Sunday {
  background: var(--color-red);
  filter: grayscale(75%) brightness(70%);
}

#Monday {
  background: var(--color-orange);
  filter: grayscale(75%) brightness(70%);
}

#Tuesday {
  background: var(--color-yellow);

  filter: grayscale(75%) brightness(70%);
}

#Wednesday {
  background: var(--color-green);
  filter: grayscale(75%) brightness(70%);
}

#Thursday {
  background: var(--color-yellow);
  filter: grayscale(75%) brightness(70%);
}

#Friday {
  background: var(--color-orange);
  filter: grayscale(75%) brightness(70%);
  
}

#Saturday {
  background: var(--color-red);
  filter: grayscale(75%) brightness(70%);
}


.parallax_bg {
  height: 600px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parallax_bg_1 {
  background-image: url("../Designs/Image/Parallax1.jpeg");
  background-attachment: fixed;
}

#parallax_bg_2 {
  background-size: contain;
  height: 700px;
  background-image: url("https://live.staticflickr.com/8508/8544921603_7400482a5c_b.jpg");
}

.innerLabel {
  flex: 1;
  text-align: center;
  color: #FFF;
  font-size: 30px;
  padding: 20px;
  backdrop-filter: brightness(30%);
}

.section-flex {
  display: flex;
  align-items: center;
  justify-items: center;
}

.section-flex-child {
  flex: 1;
  margin: 10px;
  border-radius: 10px;
  color: var(--color-black);
  font-size: var(--paragraph-size)
}


#marquee-container-grid {
  display: grid;
  grid-template-rows: repeat(2, 2fr);
  justify-items: center;
  bottom: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 63px;
}

#hide-btn {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  display: flex;
  width: 80px;
  height: 33px;
  background-color: var(--color-black);
  border-radius: 10px 10px 0 0;
  color: var(--color-white);
  justify-content: center;
  align-content: center;
}

.checkbox-icon::before {
  align-self: center;
  font-size: x-large;
  content: "▲";
  transition: all 0.5s;
}

.checkbox-icon:checked::before {
  transform: rotate(-180deg) translate(0px, 0px);
}

marquee {
  display: flex;
  background-color: var(--color-black);
  color: var(--color-white);
  align-self: center;
  font-size: large;
  padding: 5px;
  word-spacing: 5px;
  text-transform: uppercase;
  align-items: center;
}

marquee>p {
  display: inline-flex;
  align-content: center;
  align-self: center;
}

marquee>a {
  display: inline-block;
  padding-bottom: 6px;
  background-color: var(--color-white);
  text-decoration: solid;
  color: var(--color-black);
  font-size: medium;
  border-radius: 5px;
  padding: 1px;
}

marquee>a:hover {
  background-color: var(--color-red);
  color: var(--color-black);
}

footer {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  word-spacing: 2.5px;
  background: #000;
  color: #ffffff;
  align-items: center;
  z-index: 1;
}

footer>div {
  grid: 1;
  text-align: center;
}

.Footer-Title {
  grid-column: 2;
  grid-row: 1;
  place-self: center;
  place-content: center;
}

.Footer-nav {
  grid: 1;
  background: transparent;
  grid-row: 2;
  place-items: center center;
  place-self: center center;
  text-align: center;
}

.Footer-nav>ul li {
  display: inline;
}

.Footer-link {
  align-content: center;
  align-self: center;
  vertical-align: middle;
  text-decoration: none;
  color: #eaeaea;
}

.Footer-link>svg {
  vertical-align: middle;
  transition: all 0.2s;
  fill: #dadada;
}

.Footer-link:hover>svg {
  width: 45px;
}

.copyright-div {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
}

@media (min-width: 2100px) {
  .header-title {
    font-size: 80px;
  }

  label.darkModeElement {
    font-size: calc(var(--paragraph-size) + 20px);
    ;
  }

  label.darkModeElement:hover {
    font-size: calc(var(--paragraph-size) + 30px);
    ;
  }

  .nav-flex-item>a {
    font-size: calc(var(--paragraph-size) + 20px);
  }

  .nav-flex-item>a:hover {
    font-size: calc(var(--paragraph-size) + 30px);
    ;
  }

  .main-title {
    font-size: 2em;
  }

  .article-text {
    font-size: calc(var(--paragraph-size) + 20px);
  }

  .innerLabel {
    font-size: calc(var(--paragraph-size) + 24px);
  }

  .section-flex-child {
    font-size: calc(var(--paragraph-size) + 15px)
  }

  marquee {
    font-size: calc(var(--paragraph-size) + 5px);
  }
}

@media (max-width: 900px) {

  header {
    padding: 50px;
    text-align: center;
    font-size: medium;
    flex-direction: column;
  }

  header:hover {
    padding: 52px;
    font-size: large;
  }

  header a>h1 {
    word-spacing: 2px;
  }

  #Moving-page h1 {
    font-size: 5vh;
  }

  header>a {
    display: inline-block;
  }

  a>img {
    width: 50px;
  }

  label.darkModeElement {
    font-size: 15px;
  }

  label:hover.darkModeElement {
    font-size: 20px;
  }

  .nav-flex-container {
    display: block;
  }

  .nav-flex-item {
    display: block;
    padding: 2px;
  }

  .nav-flex-item>a {
    font-size: 15px;
  }

  .nav-flex-item>a:hover {
    font-size: 20px;
  }

  .contacts-container {
    margin: 5px 50px 20px;
  }

  .contact-child:hover div h1 {
    font-size: 30px;
  }

  .title {
    font-size: large;
  }

  .article-text {
    margin: 5px 50px 10px;
  }

  .section-flex {
    flex-direction: column;
  }

  .section-flex-child {
    margin: 5px 50px 10px;
  }

  #card-container {
    margin: 5px 50px 10px;
    flex-direction: column;
    text-align: center;
  }
  .card-child>p {
    text-align: center;
  }

  .parallax_bg {
    height: 20%;
    padding-block: 150px;
  }


  #marquee-container-grid {
    display: none;
  }

}

@media (max-width: 430px) {
  * {
    font-size: small;
  }

  header>a svg {
    width: 35px;
    height: 35px;
  }

  header>a {
    font-size: large;
  }

  label.darkModeElement {
    font-size: 10px;
  }

  label:hover.darkModeElement {
    font-size: 12px;
  }

  .nav-flex-item>a {
    font-size: 10px;
  }

  .nav-flex-item>a:hover {
    font-size: 12px;
  }

  .contacts-container {
    margin: 5px 20px 20px;
    display: flex;
    flex-direction: column;
  }
  .contact-child:hover div h1 {
    font-size: 20px;
  }
  .front-content {
    padding-block: 40px;
  }

  .front-content>h1, svg {
    font-size: 12px;
  }

  .front-content svg {
    width: 16px;
    width: 16px;
  }

  .article-text {
    margin: 5px 20px 10px;
  }

  .card-container {
    margin: 5px 20px 10px;
  }
}

@media (max-width: 150px) {
  * {
    font-size: 5px;
  }

  header {
    padding: 15px;
    font-size: large;
  }

  header:hover {
    padding: 20px;
    font-size: large;
  }

  label.darkModeElement {
    font-size: 5px;
  }

  label:hover.darkModeElement {
    font-size: 7px;
  }

  .nav-flex-item>a {
    font-size: 5px;
  }

  .nav-flex-item>a:hover {
    font-size: 7px;
  }

  .contacts-container {
    margin: 5px 10px 20px;
  }

  .article-text {
    margin: 5px 10px 10px;
  }

  .card-container {
    margin: 5px 10px 10px;
    flex-direction: column;
  }

  .contacts-container {
    display: flex;
    flex-direction: column;
  }
}