@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Darumadrop+One&family=Instrument+Serif:ital@1&family=Josefin+Sans:wght@700&family=Lilita+One&family=Vina+Sans&display=swap');

:root {
    --color-white:#ececec;
    --color-blue:#3AB0FF;
    --color-dark-blue:#2b86c4;
    --color-light-orange:#ffc787;
    --color-orange:#FFB562;
    --color-dark-orange:#e9a04c;
    --color-red:#f45454;
    --color-red:#f43636;
    --color-dark-red:#cd3b3b;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Darumadrop One', cursive;
    font-family: 'Instrument Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
}
html, body {
    width: 100%;
    background: var(--color-white);
}
header {
    padding: 50px;
    font-size: large;
    border-bottom: 5px solid var(--color-dark-blue) ;
}
nav {
    background-color: var(--color-dark-orange);
}
.flex-container {
    display: flex;
    padding: 5px;
    align-items: center;
    border-bottom: 5px solid var(--color-red);
}
.flex-container>li {
    list-style: none;
}
.flex-item{
    flex: 1;
    text-align: center;
}
.flex-item>a{
    background-color: var(--color-orange);
    display: block;
    padding: 3px;
    margin-inline: 5px ;
    border-radius: 5px;
    color: #000;
    text-decoration:none;
}
.flex-item>a:hover{
    background-color: var(--color-light-orange);
}
@media (max-width:700px) {
    .flex-container {
        display: block;

    }
    .flex-container>li {
        padding: 2px;
    }
}
